    <%- include('./partials/header') %> 
    <%- include('./partials/navbar') %> 
    <%- include('./partials/form') %> 
    
    <% if(allUrls && allUrls.length){ %> 
    <div class="shadow p-3 bg-body rounded container">
      <% allUrls.slice(0).reverse().map((url, index)=>{%>
      <div class="row align-items-center justify-content-center gy-2">
        <a
          href="<%= url.originalUrl %>"
          target="_blank"
          rel="noopener noreferrer"
          class="originalUrlLink col-12 col-lg-6">
          <%= url.originalUrl %>
        </a>
        <div class="col-12 col-lg-6">
          <div class="row align-items-center gy-2">
            <a
              href="/<%= url.shortUrl %>"
              target="_blank"
              rel="noopener noreferrer"
              class="shortUrl col-8 col-lg-6">
              <%= process.env.URL+url.shortUrl %>
            </a>
            <div class="col-4 col-lg-3">Clicks <span class="badge bg-secondary"><%= url.clicks%></span></div>
            <button id="<%= process.env.URL+url.shortUrl %>" onclick="copyUrlToClipboard(this)" class="copyBtn btn col-12 col-lg-3">Copy URL</button>
          </div>
        </div>
      </div>
        <!-- if not the last url in the array-> add hr element -->
        <% if(index<allUrls.length-1){ %> 
          <hr class="mb-3"/>
        <% } %> 
      <% })%>
      
    </div>
    <% }%>

    <script src="/js/copyUrl.js"></script>
    <%- include('./partials/footer') %> 
